<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">My Account</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

	<div class="row">
		<form role="form" name="changePasswordForm" ng-submit="changePassword(changePasswordForm.$valid)" novalidate>
			<div class="col-md-6 col-md-offset-3">
				<div class="alert" ng-class="{ 'alert-success': type === 'success', 'alert-danger': type === 'error' }" ng-show="hasMessage">
					{{message}}
				</div>
			</div>
			<div class="col-md-6 col-md-offset-3">
				<div class="form-group">
					<label>New Password</label>
					<input type="password" class="form-control" placeholder="New Password" ng-model="user.password.newPassword" ng-maxlength="100"  maxlength="100" required>
				</div>
			</div>
			<div class="col-md-6 col-md-offset-3">
				<div class="form-group">
					<label>Confirm Password</label>
					<input type="password" class="form-control" placeholder="New Password" ng-model="user.password.confirmNewPassword" compare-to="user.password.newPassword" ng-maxlength="100"  maxlength="100" required>
				</div>
			</div>
			<div class="col-md-6 col-md-offset-3">
				<button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="changePasswordForm.$invalid || success">Change Password</a>
			</div>
		</form>
	</div>
</div>
