

<script type="text/ng-template" id="logNewModalContent.html">
  <form role="form" name="newWorkoutForm" novalidate ng-submit="save()">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Create Workout</h3>
  </div>
  <div class="modal-body" id="modal-body">

			<div class="row">
				<div class="col-sm-6">
							<div class="form-group">
									<label>Start Time</label>
									<!-- <div uib-timepicker ng-model="workout.startDate" ng-change="changed()" hour-step="hStep" minute-step="mStep" show-meridian="ismeridian"></div> -->
                  <input type="text" class="form-control" required datetime-picker="short" ng-model="workout.startDate.date" is-open="workout.startDate.open" ng-click="openPicker($event, 'startDate')" >
									<!-- <p class="help-block">Time is currently: {{currentTime | date:'shortTime' }}</p> -->
							</div>
				</div>
        <div class="col-sm-6">
							<div class="form-group">
									<label>End Time</label>
									<!-- <div uib-timepicker ng-model="workout.endDate" ng-change="changed()" hour-step="hStep" minute-step="mStep" show-meridian="ismeridian"></div> -->
                  <input type="text" class="form-control" required datetime-picker="short" ng-model="workout.endDate.date" is-open="workout.endDate.open" ng-click="openPicker($event, 'endDate')" >

							</div>
				</div>
			</div>
      <div class="row">
        <div class="col-xs-12">
          <label>Workout Name</label>
          <div class="form-group">
            <input type="text" class="form-control" required placeholder="Chest Day" ng-model="workout.name" required>
          </div>
			</div>

  </div>
  <div class="modal-footer">
  	<button type="submit" ng-disabled="newWorkoutForm.$invalid" class="btn btn-primary">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
  </form>
</script>

<script type="text/ng-template" id="logExistingModalContent.html">
  <form role="form" novalidate name="existingWorkoutForm" ng-submit="save(selectedWorkout.id)">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Edit Workout</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
                <label>Workout Name</label>
                <input class="form-control" name="name" ng-model="selectedWorkout.title" required>
                <!-- <p class="help-block">Example block-level help text here.</p> -->
            </div>
          </div>
        </div>
  			<div class="row">
          <div class="col-sm-6">
  							<div class="form-group">
  									<label>Start Time</label>
  									<!-- <div uib-timepicker ng-model="workout.startDate" ng-change="changed()" hour-step="hStep" minute-step="mStep" show-meridian="ismeridian"></div> -->
                    <input type="text" class="form-control" required datetime-picker="short" ng-model="selectedWorkout.startDate.date" is-open="selectedWorkout.startDate.open" ng-click="openPicker($event, 'startDate')" >
  									<!-- <p class="help-block">Time is currently: {{currentTime | date:'shortTime' }}</p> -->
  							</div>
  				</div>
          <div class="col-sm-6">
  							<div class="form-group">
  									<label>End Time</label>
  									<!-- <div uib-timepicker ng-model="workout.endDate" ng-change="changed()" hour-step="hStep" minute-step="mStep" show-meridian="ismeridian"></div> -->
                    <input type="text" class="form-control" required datetime-picker="short" ng-model="selectedWorkout.endDate.date" is-open="selectedWorkout.endDate.open" ng-click="openPicker($event, 'endDate')" >

  							</div>
  				</div>
          <!--
  				<div class="col-xs-6">
  							<div class="form-group">
  									<label>Start Time</label>
  									<div uib-timepicker ng-model="workout.start" ng-change="changed()" hour-step="hStep" minute-step="mStep" show-meridian="ismeridian"></div>
  							</div>
  				</div>
          <div class="col-xs-6">
  							<div class="form-group">
  									<label>End Time</label>
  									<div uib-timepicker ng-model="workout.end" ng-change="changed()" hour-step="hStep" minute-step="mStep" show-meridian="ismeridian"></div>
  							</div>
  				</div> -->
  			</div>


        <div class="row well"  ng-repeat="(eKey, exercise) in selectedWorkout.exercises">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-12">
                <label>Exersice Name</label>
                <div class="form-group input-group">
                  <input type="text" class="form-control" ng-model="selectedWorkout.exercises[eKey].name" required>
                  <span class="input-group-btn">
                    <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">
                      <i class="fa fa-cog"></i>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href ng-click="addSet(selectedWorkout.id, selectedWorkout.exercises[eKey].id)">Add Set</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href ng-click="deleteExercise(selectedWorkout.id, selectedWorkout.exercises[eKey].id)">Remove Exercise</a></li>
                    </ul>
                    <button class="btn btn-default" type="button"  id="{{ 'setToggle-' + eKey }}" ng-show="selectedWorkout.exercises[eKey].sets.length > 0"ng-click="selectedWorkout.exercises[eKey].setListExpanded = !selectedWorkout.exercises[eKey].setListExpanded"  aria-expanded="false">
                      <i ng-hide="selectedWorkout.exercises[eKey].setListExpanded" class="fa fa-th-list"> <span class="badge">{{selectedWorkout.exercises[eKey].setQuantity}}</span></i>
                      <i ng-show="selectedWorkout.exercises[eKey].setListExpanded" class="fa fa-arrow-up"> <span class="badge">{{selectedWorkout.exercises[eKey].setQuantity}}</span></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <div uib-collapse="!selectedWorkout.exercises[eKey].setListExpanded" id="{{ 'exercises-' + eKey }}">
              <div class="row well" ng-repeat="(sKey, set) in selectedWorkout.exercises[eKey].sets">
                <div class="col-xs-6">

                  <div class="form-group">
                    <label>Reps</label>
                      <input type="number" class="form-control input-sm" ng-model="selectedWorkout.exercises[eKey].sets[sKey].reps" required>
                      <!-- <p class="help-block">Example block-level help text here.</p> -->
                  </div>
                </div>
                <div class="col-xs-6">
                  <label>Weight</label>
                  <div class="form-group input-group">
                      <input type="number" class="form-control input-sm" ng-model="selectedWorkout.exercises[eKey].sets[sKey].weight" required>
                      <!-- <p class="help-block">Example block-level help text here.</p> -->
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">
                          <i class="fa fa-cog"></i>
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a href ng-click="deleteSet(selectedWorkout.id, selectedWorkout.exercises[eKey].id, selectedWorkout.exercises[eKey].sets[sKey]._id)">Remove Set</a></li>
                        </ul>
                      </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-success pull-left" type="button" ng-click="addExercise(selectedWorkout.id)"  tooltip-append-to-body="true" uib-tooltip="Add Exercise"><span class="fa fa-plus"></span</button>
    	<button class="btn btn-primary" ng-disabled="existingWorkoutForm.$invalid" type="submit">Save</button>
      <button class="btn btn-danger" type="button" popover-append-to-body="true" popover-is-open="removeWorkoutPopoverIsOpen" ng-click="removeWorkoutPopoverIsOpen = !removeWorkoutPopoverIsOpen" uib-popover-template="'removeWorkoutPopover.html'"><span ng-hide="removeWorkoutPopoverIsOpen">Remove</span><span ng-show="removeWorkoutPopoverIsOpen">No, Don't!</span></button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </form>
</script>

<script type="text/ng-template" id="removeWorkoutPopover.html">
        <div>Remove this workout?</div>
          <button class="btn btn-danger" type="button" ng-click="delete(selectedWorkout.id)"  tooltip-append-to-body="true" uib-tooltip="Yes, remove">
            Yes
          </button>
    </script>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Workout Log</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

	<div class="row">
		<div class="col-lg-12">
				<div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="logCalendar"></div>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>
