<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-sm-6 col-sm-offset-3">
            <div class="login-panel panel panel-dark">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form" name="loginForm" ng-submit="login(loginForm.$valid)" novalidate>
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Username" ng-model="user.username" name="usernmame" type="text" ng-minlength="3" ng-maxlength="15" autofocus required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" ng-model="user.password" name="password" type="password" required>
                            </div>
                            <!-- <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div> -->
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="loginForm.$invalid">Login</button>
                            <a ui-sref="register">Create Account</a>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="alert" ng-class="{ 'alert-success': type === 'success', 'alert-danger': type === 'error' }" ng-show="hasMessage">
              {{message}}
            </div>
        </div>
    </div>
</div>
