<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-sm-6 col-sm-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Create an Account</h3>
                </div>
                <div class="panel-body">
                    <form role="form" name="registerForm" ng-submit="register(registerForm.$valid)" novalidate>
                        <fieldset>
                          <div class="form-group">
                              <input class="form-control" placeholder="First Name" name="givenName" type="text" ng-model="user.givenName" ng-minlength="1" ng-maxlength="100" maxlength="100" required autofocus>
                          </div>
                          <div class="form-group">
                              <input class="form-control" placeholder="Last Name" name="familyName" type="text" ng-model="user.familyName" ng-minlength="1" ng-maxlength="100" maxlength="100" required>
                          </div>
                          <div class="form-group">
                              <input class="form-control" placeholder="Email" id="email" name="email" type="email" ng-model="user.email" required>
                          </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Username" id="username" name="username" type="text" ng-model="user.username" ng-minlength="3" ng-maxlength="15" maxlength="15" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" ng-model="user.password" ng-minlength="3" ng-maxlength="100"  maxlength="100" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Confirm Password" name="confirmPassword" type="password" compare-to="user.password" ng-maxlength="100"  maxlength="100" ng-model="user.confirmPassword" required>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="registerForm.$invalid || success">Register</a>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="alert" ng-class="{ 'alert-success': type === 'success', 'alert-danger': type === 'error' }" ng-show="hasMessage">
              {{message}}
            </div>
        </div>
    </div>
</div>
