<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse collapse">
        <ul class="nav in" id="side-menu">
            <!-- <sidebar-search></sidebar-search> -->
            <li ui-sref-active="active">
                <a ui-sref="dashboard.log"><i class="fa fa-pencil fa-fw"></i> Log</a>
            </li>
            <!-- <li ui-sref-active="active">

                <a ui-sref="dashboard.leaderboard"><i class="fa fa-users fa-fw"></i> Leaderboard<span></span></a>

            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.progress"><i class="fa fa-line-chart fa-fw"></i> My Progress</a>
            </li> -->
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
